@namespace ITry.Features
@inject IMediator Mediator


<div>Form!</div>

@code {
    [Parameter] public int ModelId { get; set; }
    [Parameter] public EventCallback<string> OnIsEdit { get; set; }
    [Parameter] public EventCallback OnSave { get; set; }

    private TodoFormModel model;
    private bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        model = await Mediator.Send(new GetTodoFormQuery(ModelId));
        //await OnIsEdit.InvokeAsync(model?.Title);
    }
}
