@page "/"

<PageTitle>ITry</PageTitle>

<div class="relative h-screen">
    <TodoList />

    <NavLink class="btn btn-primary btn-circle absolute right-0 bottom-0 mb-5" href="details">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
        </svg>
    </NavLink>
</div>