@page "/"

<PageTitle>ITry</PageTitle>

<TodoList />

@code {
    
}


@*
    <div class="container mx-auto px-4 pt-4">
    <div class="flex justify-end">
        <div class="form-control">
            <label class="label cursor-pointer justify-start gap-2">
                <span class="label-text">Show archived</span>
                <input type="checkbox" class="toggle toggle-sm" checked>
            </label>
        </div>
    </div>
    <div class="flex flex-col gap-3 items-center justify-center">
        <div class="card w-full md:w-96 bg-base-100 shadow-lg">
            <div class="card-body gap-4 items-center text-center">
                <div class="card-actions justify-center w-full">
                    <button class="btn btn-primary w-full shadow border-b-4 border-primary-focus" @onclick="Create">Läs minst 2 sidor varje dag</button>
                </div>
                <div class="flex justify-between w-full">
                    <Loop Items="list" TItem="string" Context="item">
                        <button class="btn btn-neutral btn-sm btn-circle shadow border-b-4 border-neutral-focus">@item</button>
                    </Loop>
                </div>
            </div>
        </div>
        <div class="card w-full md:w-96 bg-base-100 shadow-lg">
            <div class="card-body gap-4 items-center text-center">
                <div class="card-actions justify-center w-full">
                    <button class="btn btn-primary w-full shadow border-b-4 border-primary-focus">Meditera 2 ggr i veckan</button>
                </div>
                <div class="flex justify-between w-full">
                    <Loop Items="list" TItem="string" Context="item">
                        <button class="btn btn-neutral btn-sm btn-circle shadow border-b-4 border-neutral-focus">@item</button>
                    </Loop>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <div class="divider"></div>
        <div class="flex flex-col gap-3 items-center justify-center">
            <div class="card w-full md:w-96 bg-base-100 shadow">
                <div class="card-body gap-4 items-center text-center">
                    <div class="card-actions justify-center w-full">
                        <button class="btn btn-neutral opacity-50 w-full shadow-lg border-b-4 border-neutral-focus">Nytt recept av undertian varje dag</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
*@